{% extends 'ledger/base.html' %}
{% load static %}

{% block title_block %}
	Register
{% endblock %}

{% block body_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/registration.css' %}">

<div class="registration-container">
    <div class="registration-card">
        <h1>Register Here</h1>

        <form method="post" action="." enctype="multipart/form-data">
            {% csrf_token %}
            
			{% for field in form %}
				<div class="form-group">
					<label>{{ field.label }}</label>
					<div class="input-wrapper">
						{{ field }}
						
						{% if field.name == "username" or "password" in field.name %}
							<span class="help-icon">!</span>
							<div class="help-tooltip">
								{{ field.help_text|safe }}
							</div>
						{% endif %}
					</div>

					{% for error in field.errors %}
						<span class="error-text" style="color: red; font-size: 0.8rem;">{{ error }}</span>
					{% endfor %}
				</div>
			{% endfor %}

            <button type="submit" class="btn-register">Register</button>
        </form>
    </div>
</div>
{% endblock %}
