<!Doctype html>
{% load staticfiles %}

<html>
	<head lang="en">
		<meta charset="utf-8" />
		<title>
			Ledger - 
			{% block title_block %}
				Track Habits
			{% endblock %}
		</title>
	</head>
	<body>
		<ul>
			<li><a href="{% url 'ledger:index' %}">Home</a></li>
			{% if user.is_authenticated %}
				<li><a href="{% url 'ledger:myhabits' %}">MyHabits</a></li>
				<li><a href="{% url 'ledger:leaderboards' %}">Leaderboards</a></li>
				<li><a href="{% url 'ledger:social' %}">Social</a></li>
				<!-- have profile link here too  -->
				<li><a href="{% url 'auth_logout' %}?next={% url 'ledger:index' %}">Logout</a></li>
			{% else %}
				<li><a href="{% url 'auth_login' %}">Log In</a></li>
				<li><a href="{% url 'registration_register' %}">Sign Up</a></li>
			{% endif %}
		</ul>
		{% block body_block %}
		{% endblock %}
		</div>
	</body>
</html>
