{% extends 'ledger/base.html' %}
{% load staticfiles %}

{% block header %}
	{{ form.media }}
	<link rel="stylesheet" type="text/css" href="{% static 'css/create_habit_tracker.css' %}">
{% endblock %}

{% block title_block %}
	Create Habit Tracker
{% endblock %}

{% block body_block %}
<div class="habit-config-container">
    <div class="habit-config-card">
        <h1>Create Your Ledger</h1>
        <form action="" method="post">
            {% csrf_token %}
            
            {% for field in form %}
                <div class="habit-field-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    <div class="habit-input-wrapper">
                        {{ field }}
                        {% if field.help_text %}
                            <div class="habit-help-icon" title="More info">?</div>
                            <div class="habit-help-tooltip">{{ field.help_text }}</div>
                        {% endif %}
                    </div>
                    {% if field.errors %}
                        <p class="field-error-message">{{ field.errors.as_text }}</p>
                    {% endif %}
                </div>
            {% endfor %}

            <button type="submit" class="btn-save-habits">OK</button>
        </form>
    </div>
</div>
{% endblock %}
