<div class="modal fade" id="logHabitModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content habit-config-card">
            <div class="modal-header border-0 pb-0">
                <h1 class="modal-title fs-4 fw-bold">Log Your Progress</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
			<form id="log-habit-form" method="POST" action="{% url 'ledger:log_habits_view' %}">
				{% csrf_token %}
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="fw-bold">Date</label>
                        {{ log_form.date }}
                    </div>

                    <div class="mb-3">
                        <label class="fw-bold">Habits Completed</label>
                        <div class="habit-checkbox-grid">
                            {% for checkbox in log_form.habits %}
                                <div class="form-check">
                                    {{ checkbox.tag }}
                                    <label class="form-check-label" for="{{ checkbox.id_for_label }}">
                                        {{ checkbox.choice_label }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="fw-bold">Journal Entry</label>
                        {{ log_form.journal_text }}
                    </div>
                </div>
                <div class="modal-footer border-0">
                    <button type="submit" class="btn-save-habits">Save Entry</button>
                </div>
            </form>
        </div>
    </div>
</div>
